<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        
        <!-- IMPORTANT: all teachers are encoded with numbers. The Teachers.plist file defines
         the number that every teacher is encoded by. Only teachers are encoded this way. One more thing, if 2 teachers teach in the same room on the same block (i.e. A1 or B2) in different semesters, then the digits that are multiples of 100 will be in the first semester, and multiples of one that are not multiples of 100 will be teaching in the second semester
         00## - only 2nd sem
         ##00 only 1st sem
         #### different teachers in diff. semesters
         ##99 same teacher in both semesters-->
        
        <!-- if you have a 2nd sem class but no sem1 class, then let the value be in the format of "Sem2- ..."--->
        <!--ONE MORE THING, format sem2 classes so that its like sem1, Sem2... make sure comma and space is used if there is a sem1 class too-->
        
        <key>101</key>
        <array>
            <string>0499</string>
            <string>0499</string><!-- Casper  A2-->
            <string>0000</string><!-- none-->
            <string>0499</string><!-- Casper A4-->
            
            <string>0499</string><!-- Casper B1-->
            <string>0000</string>
            <string>0499</string><!-- Casper B3-->
            <string>0499</string><!-- Casper B4-->
            
            <!-- numbers 9-17 contain the class subject -->
            <string>MYP Product Team, Sem2- IB Exam Prep</string>
            <string>Math 2</string>
            <string>None</string>
            <string>Math 2</string>
            <string>IB1 Math St. SL</string>
            <string>None</string>
            <string>Math 2</string>
            <string>IB1 Math St. SL</string>
        </array>
        
        
        
        <key>102</key>
        <array>
            <string>2599 </string><!-- Slade -->
            <string>2599 </string><!-- Slade -->
            <string>2099 </string><!-- Slade -->
            <string>2599 </string> 
            <string>2599 </string><!-- Stibitz -->
            <string>2599 </string><!-- Slade -->
            <string>2599 </string><!-- Slade -->
            <string>2099 </string><!-- Slade -->
            
            <string>IB 2 Math St. SL</string>
            <string>IB 2 Math St. SL</string>
            <string>Speech</string>
            <string>Math 3</string>
            <string>IB 1 Math SL</string>
            <string>IB 1 Math SL</string>
            <string>Math 3</string>
            <string>MYP PT / Speech</string>
        </array>
        
        
        <key>103</key>
        <array>
            <string>0000</string>
            <string>0000</string>
            <string>0000 </string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
        </array>
        
        
        <key>104</key>
        <array>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
            <string>Check Room Schedule</string>
        </array>
        
        
        <key>105</key>
        <array>
            <string>2299 </string><!-- Riggs -->
            <string>2299 </string><!-- Riggs -->
            <string>2200</string>
            <string>3199 </string><!-- Riggs -->
            <string>3199 </string><!-- Riggs -->
            <string>2299 </string><!-- Riggs -->
            <string>2200</string>
            <string>2299 </string><!-- Riggs -->
            
            <string>IB2 Spanish</string>
            <string>IB2 Spanish</string>
            <string>IB2 Spanish</string>
            <string>IB2 TOK / IB1 TOK</string>
            <string>IB2 TOK / IB Exam Prep</string>
            <string>Spanish 9 + ALS 1</string>
            <string>Spanish 9 + ALS 1</string>
            <string>Spanish 9 + ALS 1</string>
        </array>
        
        
        <key>106</key>
        <array>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            <string>00</string>
            
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
        </array>
        
        
        <key>108</key>
        <array>
            <string>0000 </string><!-- Merchant -->
            <string>1799 </string><!-- Merchant --><!-- Dittus -->
            <string>1799 </string><!-- Merchant -->
            <string>1799 </string><!-- Merchant -->
            <string>1799 </string><!-- Merchant --><!-- Cinader -->
            <string>1799 </string><!-- Cinader --><!-- Wolf -->
            <string>0007 </string><!-- Merchant -->
            <string>0017 </string><!-- Cinader -->
            
            <string>None</string>
            <string>French 10 + ALF 2</string>
            <string>IB2 French</string>
            <string>IB FLC, Sem2- FLC</string>
            <string>IB2 French</string>
            <string>French 10 + ALF 2</string>
            <string>Sem2- IB1 TOK</string>
            <string>Sem2- Product Team</string>
            
        </array>
        
        
        <key>109</key>
        <array>
            <string>3099 </string> 
            <string>2399 </string>  
            <string>2399</string> 
            <string>2399</string> 
            <string>2399</string> 
            <string>2399</string> 
            <string>2300</string>
            <string>3099 </string>
            
            <string>PEH 9, Sem2- PEH 10</string>
            <string>German 10 + ALG 2</string>
            <string>IB2 German</string>
            <string>German 9 + ALG 1</string>
            <string>Product Team, Sem2 GLC</string>
            <string>IB1 German</string>
            <string>Product Team, Sem2- None</string>
            <string>PEH 9, Sem2- PEH 10</string>
            
        </array>
        
        <!-- YOU ARE HERE IN THE EDITING PROCESS-->
        
        <key>110</key>
        <array>
            <string>3199 </string><!-- Wolf -->
            <string>1599 </string><!-- LaNoue -->
            <string>1599 </string><!-- LaNoue -->
            <string>1599 </string><!-- LaNoue -->
            <string>1599 </string><!-- LaNoue -->
            <string>1599 </string><!-- LaNoue -->
            <string>1599 </string><!-- LaNoue -->
            <string>3199 </string><!-- Wolf -->
            
            <string>Strings Orchestra</string>
            <string>IB1 Music</string>
            <string>Singers</string>
            <string>Symphonic Band</string>
            <string>Chorale</string>
            <string>Concert Band</string>
            <string>IB2 Music</string>
            <string>Orchestra</string>
            
        </array>
        
        
        <key>111</key>
        <array>
            <string>2499</string><!-- Stibitz --><!-- None -->
            <string>2799</string><!-- Shamanski -->
            <string>2499</string><!-- Shamanski -->
            <string>2499</string><!-- Shamanski -->
            <string>2099</string><!-- Shamanski -->
            <string>2499</string><!-- Shamanski -->
            <string>2499</string><!-- Shamanski -->
            <string>2499</string>
            
            <string>Spanish 10 + ALS 2</string>
            <string>IB SLC 2</string>
            <string>Spanish 10 + ALS 2</string>
            <string>Spanish 10 + ALS 2</string>
            <string>MYP PT, Sem2- IB Exam Prep</string>
            <string>IB1 Spanish</string>
            <string>IB1 Spanish</string>
            <string>IB1 Spanish</string>
            
        </array>
        
        
        <key>201</key>
        <array>
            <string>0399</string><!-- Cassaza -->
            <string>0399</string><!-- Cassaza -->
            <string>0000</string><!-- None -->
            <string>0399</string><!-- Cassaza -->
            <string>0399</string><!-- Cassaza -->
            <string>0399</string><!-- Hodgkins -->
            <string>0399</string><!-- Cassaza -->
            <string>1399</string><!-- Cassaza -->
            
            <string>IB 1 Math HL</string>
            <string>IB 2 Math SL</string>
            <string>None</string>
            <string>IB 2 Math SL</string>
            <string>IB 2 Math SL</string>
            <string>Math 3</string>
            <string>Math 3</string>
            <string>Math 3</string>
        </array>
        
        
        <key>203</key>
        <array>
            <string>1399</string><!-- Hodgkins -->
            <string>1399</string><!-- Hodgkins -->
            <string>1399</string><!-- Kilpatrick -->
            <string>1199</string><!-- Hodgkins -->
            <string>1199</string><!-- Kilpatrick -->
            <string>1399</string><!-- Kilpatrick -->
            <string>1199</string><!-- Kilpatrick -->
            <string>1199</string><!-- Hodgkins -->
            
            <string>Physics 10</string>
            <string>IB1 Physics</string>
            <string>IB1 Physics</string>
            <string>Physics 10</string>
            <string>IB2 Physics</string>
            <string>Math 3</string>
            <string>Physics 10</string>
            <string>IB2 Physics</string>
        </array>
        
        
        <key>205</key>
        <array>
            <string>1099</string><!-- Hessler -->
            <string>2199</string><!-- Phillips -->
            <string>1099</string><!-- Hessler -->
            <string>2099</string><!-- Hessler -->
            <string>1099</string><!-- Hessler -->
            <string>2099</string><!-- Hessler -->
            <string>1099</string><!-- Hessler -->
            <string>1099</string>
            
            <string>Math 2</string>
            <string>IB2 Math HL</string>
            <string>Math 2</string>
            <string>Speech</string>
            <string>IB1 Math SL</string>
            <string>MYP PT, Sem2- IB Exam Prep</string>
            <string>IB1 Math SL</string>
            <string>IB1 Math SL</string>
        </array>
        
        
        <key>206</key>
        <array>
            <string>1499</string><!-- Jones -->
            <string>1499</string><!-- Kiriazis -->
            <string>1499</string><!-- Kiriazis -->
            <string>1299</string><!-- Kiriazis -->
            <string>1499</string><!-- Kiriazis -->
            <string>1499</string><!-- Kiriazis -->
            <string>1499</string><!-- Griffin -->
            <string>2699</string><!-- Kiriazis -->
            
            <string>Biology 9</string>
            <string>IB1 Biology</string>
            <string>IB1 Biology</string>
            <string>MYP PT, Sem2- IB Exam Prep</string>
            <string>IB2 Biology</string>
            <string>IB2 Biology</string>
            <string>Biology 9</string>
            <string>Biology 9</string>
        </array>
        
        
        <key>207</key>
        <array>
            <string>1899</string><!-- Monck -->
            <string>1899</string><!-- Monck -->
            <string>1199</string><!-- Jones -->
            <string>1899</string><!-- Monck -->
            <string>1899</string><!-- Monck -->
            <string>2699</string><!-- Monck -->
            <string>1899</string><!-- Hodgkins -->
            <string>1899</string><!-- Monck -->
            
            <string>IB1 Biology</string>
            <string>Biology 9</string>
            <string>Physics 10</string>
            <string>IB1 Biology</string>
            <string>Biology 9</string>
            <string>Biology 9</string>
            <string>IB2 Biology</string>
            <string>IB2 Biology</string>
        </array>
        
        
        <key>209</key>
        <array>
            <string>1299</string><!-- Phillips -->
            <string>2199</string><!-- Kilpatrick -->
            <string>2199</string><!-- Phillips -->
            <string>3099</string><!-- Weinger -->
            <string>1399</string><!-- Phillips -->
            <string>2199</string><!-- Griffin -->
            <string>2199</string><!-- Phillips -->
            <string>2199</string><!-- Phillips -->
            
            <string>ESS</string>
            <string>Chemistry 10</string>
            <string>Chemistry 10</string>
            <string>PEH 9, Sem2- PEH 10</string>
            <string>Physics 10</string>
            <string>IB2 Chemistry</string>
            <string>IB2 Chemistry</string>
            <string>IB2 Chemistry</string>
        </array>
        
        
        <key>211</key>
        <array>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
        </array>
        
        <key>213</key>
        <array>
            <string>0799</string><!-- Kilpatrick -->
            <string>1199</string><!-- Davies -->
            <string>0799</string><!-- Davies -->
            <string>0799</string><!-- Davies -->
            <string>0700</string><!-- Davies -->
            <string>0799</string><!-- Davies -->
            <string>2699</string><!-- Davies -->
            <string>0701</string><!-- Dittus --><!-- Acton -->
            
            <string>Chemistry 10</string>
            <string>Physics 10</string>
            <string>IB1 Chemistry</string>
            <string>Chemistry 10</string>
            <string>IB2 TOK, Sem2- None</string>
            <string>IB1 Chemistry</string>
            <string>Chemistry 10</string>
            <string>Chemistry 10</string>
        </array>
        
        <key>301</key>
        <array>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            <string>0000</string>
            
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
            <string>None</string>
        </array>
        
        
        <key>303</key>
        <array>
            <string>0899 </string><!-- DeZwaan -->
            <string>3299 </string><!-- Weinger -->
            <string>0899 </string><!-- DeZwaan -->
            <string>0899 </string><!-- DeZwaan -->
            <string>0899 </string><!-- DeZwaan -->
            <string>1130 </string><!-- Fairman --><!-- Stibitz -->
            <string>0899 </string><!-- DeZwaan -->
            <string>0899 </string><!-- DeZwaan -->
            
            <string>IB2 History</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>IB2 History</string>
            <string>IB1 History</string>
            <string>IB2 History</string>
            <string>MYP Product Team, Sem2- SLC</string>
            <string>American Studies</string>
            <string>American Studies</string>
        </array>
        
        
        <key>304</key>
        <array>
            <string>3299</string><!-- Weinger -->
            <string>0599</string><!-- Cinader -->
            <string>3099</string><!-- Stibitz -->
            <string>0599</string><!-- Cinader --> <!--- Check for verity-->
            <string>2199</string><!-- Merchant -->
            <string>2199</string><!-- Merchant -->
            <string>3099</string><!-- Stibitz -->
            <string>3299</string><!-- Weinger -->
            
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>French 9/ALF 1</string>
            <string>World Studies</string>
            <string>IB1 French</string>
            <string>French 10/ALF 2</string> <!--- Check for verity-->
            <string>Product Team, Sem2- Product Team</string>
            <string>World Studies</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
        </array>
        
        
        <key>305</key>
        <array>
            <string>3199</string><!-- Uhelski -->
            <string>3199</string><!-- Uhelski -->
            <string>0000</string><!-- None -->
            <string>3199</string><!-- Uhelski -->
            <string>3199</string><!-- Uhelski -->
            <string>3199</string><!-- Uhelski -->
            <string>0000</string><!-- None -->
            <string>3199</string><!-- Uhelski -->
            
            <string>World Studies</string>
            <string>World Studies, Sem2- World Studies</string>
            <string>None</string>
            <string>IB GLC, Sem2- Product Team</string>
            <string>IB1 History</string>
            <string>IB1 History</string>
            <string>None</string>
            <string>IB1 History</string>
        </array>
        
        
        <key>306</key>
        <array>
            <string>3599</string><!-- Zwolinski -->
            <string>3099</string><!-- Stibitz -->
            <string>3599</string><!-- Zwolinski -->
            <string>3599</string><!-- Zwolinski -->
            <string>1399</string><!-- Griffin -->
            <string>3599</string><!-- Zwolinski -->
            <string>3599</string><!-- Zwolinski -->
            <string>3599</string><!-- Zwolinski -->
            
            <string>Gov’t, Sem2- Online Gov’t </string>
            <string>IB SLC, Sem2- SLC</string>
            <string>American Studies</string>
            <string>American Studies</string>
            <string>MYP Product Team, Sem2- IB Exam Prep</string>
            <string>IB2 History</string>
            <string>IB2 History</string>
            <string>IB2 History</string>
        </array>
        
        
        <key>308</key>
        <array>
            <string>0299</string><!-- Cafcalas -->
            <string>0299</string><!-- Cafcalas -->
            <string>0299</string><!-- Cafcalas -->
            <string>0000</string>
            <string>0299</string><!-- Cafcalas -->
            <string>0000</string>
            <string>0299</string><!-- Cafcalas -->
            <string>0299</string><!-- Cafcalas -->
            
            <string>Art 1</string>
            <string>IB2 Visual Arts</string>
            <string>Art 1</string>
            <string>None</string>
            <string>Art 2</string>
            <string>None</string>
            <string>IB1 Visual Arts</string>
            <string>Art 2</string>
        </array>
        
        <key>310</key>
        <array>
            <string>0010 </string><!-- Tecmire -->
            <string>1099</string><!-- Tecmire -->
            <string>1099</string><!-- Tecmire -->
            <string>1011 </string><!-- Tecmire --><!-- Fairman -->
            <string>3299</string><!-- Weinger -->
            <string>1099</string><!-- Tecmire -->
            <string>1099</string><!-- Tecmire -->
            <string>1099</string><!-- Tecmire -->
                       
            <string>None, Sem2- Product Team</string>
            <string>IB2 Economics</string>
            <string>Econ 9, Sem2- Econ 9</string>
            <string>Econ 9, Sem2- IB Exam Prep</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>IB1 Economics</string>
            <string>Econ 9, Sem2- Econ 9</string>
            <string>Econ 9, Sem2- None</string>
        </array>
        
        <key>403</key>
        <array>
            <string>0699</string><!-- Clancy -->
            <string>3399</string><!-- Wolf -->
            <string>0699</string><!-- Clancy -->
            <string>0699</string><!-- Clancy -->
            <string>0699</string><!-- Clancy -->
            <string>0699</string><!-- Clancy -->
            <string>2499</string> 
            <string>0699</string><!-- Clancy -->
            
            <string>American Literature</string>
            <string>IB2 Tok, Sem2- IB1 Tok</string>
            <string>American Literature</string>
            <string>American Literature</string>
            <string>IB2 English</string>
            <string>IB2 English</string>
            <string>Speech, Sem2- Speech</string>
            <string>IB2 English</string>
        </array>
        
        <key>404</key>
        <array>
            <string>2099</string><!-- McCabe -->
            <string>2099</string><!-- McCabe -->
            <string>2099</string><!-- McCabe -->
            <string>0100</string><!-- Acton --><!-- none -->
            <string>2099</string><!-- McCabe -->
            <string>2099</string><!-- McCabe -->
            <string>2099</string><!-- McCabe -->
            <string>2499</string> 
            
            <string>World Literature</string>
            <string>World Literature</string>
            <string>World Literature</string>
            <string>Product Team, Sem2- None</string>
            <string>IB1 English</string>
            <string>IB1 English</string>
            <string>IB1 English</string>
            <string>MYP Product Team, Sem2- Speech</string>
        </array>
        
        <key>405</key>
        <array>
            <string>1299</string><!-- Gardner -->
            <string>1299</string><!-- Gardner -->
            <string>1299</string><!-- Gardner -->
            <string>3099</string><!-- Stibitz -->
            <string>1299</string><!-- Gardner -->
            <string>1299</string><!-- Gardner -->
            <string>0599</string><!-- Cinader -->
            <string>1299</string><!-- Gardner -->
            
            <string>IB2 English</string>
            <string>IB2 English</string>
            <string>American Literature</string>
            <string>IB SLC, Sem2- SLC</string>
            <string>IB2 English</string>
            <string>American Literature</string>
            <string>French 9, Sem2 - ALF 1</string>
            <string>American Literature</string>
        </array>
        
        <key>406</key>
        <array>
            <string>3499</string><!-- Woods -->
            <string>3499</string><!-- Woods -->
            <string>3499</string><!-- Woods -->
            <string>3399</string><!-- Wolf -->
            <string>3499</string><!-- Woods -->
            <string>3499</string><!-- Woods -->
            <string>3399</string><!-- Wolf -->
            <string>3499</string><!-- Woods -->
            
            <string>IB1 English</string>
            <string>IB1 English</string>
            <string>IB1 English</string>
            <string>IB2 Tok, Sem2- IB1 Tok</string>
            <string>World Literature</string>
            <string>World Literature</string>
            <string>IB2 Tok, Sem2- IB1 Tok</string>
            <string>World Literature</string>
        </array>
        
        <key>408</key>
        <array>
            <string>0000</string>
            <string>2399</string><!-- Morrison -->
            <string>2399</string><!-- Morrison -->
            <string>2399</string><!-- Morrison -->
            <string>3310 </string><!-- Wolf --><!-- Tecmire -->
            <string>2399</string><!-- Morrison -->
            <string>2399</string><!-- Morrison -->
            <string>2399</string><!-- Morrison -->
            
            <string>None</string>
            <string>World Studies</string>
            <string>IB1 History</string>
            <string>American Studies</string>
            <string>IB2 Tok, Sem2- Product Team</string>
            <string>World Studies</string>
            <string>American Studies</string>
            <string>IB1 History</string>
        </array>
        
        <key>999</key>
        <array>
            <string>3299</string><!-- Weinger -->
            <string>3299</string><!-- Weinger -->
            <string>0000</string><!-- None -->
            <string>3299</string><!-- Weinger -->
            <string>3299</string><!-- Weinger -->
            <string>3299</string><!-- Weinger -->
            <string>0000</string><!-- none -->
            <string>3299</string><!-- Weinger -->
            
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>None</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
            <string>None</string>
            <string>AC/Health 9, Sem2- AC/Health 10</string>
        </array>
        
    </dict>
</plist>