<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>116</integer>
	<integer>2</integer>
	<integer>119</integer>
	<integer>3</integer>
	<integer>212</integer>
	<integer>1</integer>
	<integer>216</integer>
	<integer>3</integer>
	<integer>217</integer>
	<integer>3</integer>
	<integer>218</integer>
	<integer>3</integer>
	<integer>219</integer>
	<integer>3</integer>
	<integer>220</integer>
	<integer>3</integer>
	<integer>311</integer>
	<integer>2</integer>
	<integer>324</integer>
	<integer>1</integer>
	<integer>402</integer>
	<integer>2</integer>
	<integer>403</integer>
	<integer>3</integer>
	<integer>406</integer>
	<integer>3</integer>
	<integer>407</integer>
	<integer>3</integer>
	<integer>408</integer>
	<integer>3</integer>
	<integer>409</integer>
	<integer>3</integer>
	<integer>410</integer>
	<integer>3</integer>
	<integer>513</integer>
	<integer>1</integer>
	<integer>525</integer>
	<integer>3</integer>
	<integer>616</integer>
	<integer>2</integer>
	<integer>617</integer>
	<integer>2</integer>
	<integer>618</integer>
	<integer>2</integer>
	<integer>619</integer>
	<integer>2</integer>
</array>
</plist>
